@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #447fb0;
  --primary-color-10: #447fb01A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
