@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #447fb0;
  --primary-color-10: #447fb05c;

  --primary-btn-hover:#3D4C33;
  --primary-optional:#58644C;
  --secondary: #CAD2C5;
  --secondary-optional:#A3B18A;
  --bg1: #CAD2C5;

  --prim: #65a3d6;
  --dark-pri:#0f2d54;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}